<h1>Sign Up</h1>
<br>
<div class="row justify-content-md-center">
 <form action='/signup' method='POST'>
   <input type="text" class="form-control" name="username" placeholder="Create a username"><br>
   <input type="text" class="form-control" name="email" placeholder="Email"><br>
   <input type="text" class="form-control" name="password" placeholder="Create a password"><br>
   <input type="submit" class="btn btn-info" value="Sign Up">
 </form>
</div>
