<h1>Sign Up</h1>
<form action='/signup' method='POST'>
  <input type="text" name="username" placeholder="Create a username"><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="text" name="password" placeholder="Create a password"><br>
  <input type="submit" value="Sign Up">
</form>
