<h1 class="display-4"><%= @user.username.capitalize %>'s Boards</h1>
  <div class="board-wrapper text-info">
    <div class="board-column">
      <% @user.boards.each do |board| %>
      <div class="display-pics">
        <% board.items[0..5].each do |item| %>
          <img class="tiny-pic" src="<%= item.image %>">
        <% end %>
        <p><a class="text-info board-info" href="/boards/<%= board.slug %>"><%= board.name %></a></p>
      </div>
      <% end %>
    </div>
  </div>
