<h1>Edit your board</h1>
<br>
<form action="/boards/<%=@board.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-lg">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="<%= @board.name %>">
    </div>
  </div>
  <input type="submit" class="btn btn-info" value="submit">
</form>
<br><br>
<form action="/boards/<%= @board.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-danger" value="Delete board">
</form>
