<div class="wrapper">
  <div class="column text-info">
    <% @items.each do |item| %>
      <div class="thumbnail-pic">
        <a class="text-info item-info" href="/items/<%= item.id %>"><img class="thumbnail" src="<%= item.image %>"></a>
        <p><%= item.description %></p>
      </div>
    <% end %>
  </div>
</div>
