<h2><%= @item.description %></h2>
<h4>From <a href="<%= @item.url %>" target="_blank"><%= @item.site_source %></a></h4>

<a href="/items/<%= @item.id %>/edit">Edit item</a>
<a href="/items">Back to items</a>
<a href="/boards">Back to boards</a>
